@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap");

:root {
  --black: #2b2b2b;
  --green: #699f56;
  --blue: #34566f;
  --grey: #959595;
  --red: #aa4926;
  --orange: #cc7832;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
td,
tr,
th,
table,
div,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.header-container {
  height: 3.1em;
  background-color: var(--black);
}

.content-wrapper {
  width: 769px;
  display: flex;
  margin: 0 auto;
}

.logo-container.left {
  display: flex;
}

.logo-container.right {
  margin-left: auto;
}

h1.logo,
.subtitle,
.logo-button-text {
  color: white;
}

h1.logo {
  margin-top: 0.3em;
  font-size: 1.66em;
  font-weight: 700;
}

.subtitle {
  margin-top: 1.5em;
  margin-left: 0.6em;
  font-size: 0.85em;
  font-weight: 300;
  font-style: italic;
}

.logo-button {
  background-color: var(--black);
  border: 1px solid var(--grey);
  margin-top: 0.8em;
  display: inline-block;
  padding: 0.15em 1.1em;
  position: relative;
}

.logo-button .logo-button-text {
  font-size: 0.6em;
  position: relative;
  bottom: 0.2em;
  left: 0.4em;
  font-weight: bold;
}

.logo-button .logo-button-icon {
  top: 0.4em;
  left: 0.4em;
  position: absolute;
  width: 11px;
  height: 11px;
}

a.logo-button:hover {
  opacity: 0.9;
  background-color: var(--grey);
  cursor: pointer;
}
